@{
    ViewBag.Title = "About";
}
<div class="container mt-5">
    <h1 class="text-center">About Us</h1>
    <p class="text-justify">At Repl Solutions, we are dedicated to providing innovative software solutions that enhance the efficiency of libraries across Nepal. Our library management system is built with user-friendliness in mind, ensuring that both librarians and users can navigate seamlessly.</p>
    <p class="text-justify">Located in Nepal, we strive to support local libraries in their mission to provide knowledge and resources to the community. Our team of experienced developers is committed to continuous improvement and customer satisfaction.</p>
</div>
