@{
    ViewBag.Title = "Contact";
}
<div class="container mt-5">
    <h1 class="text-center">Contact Us</h1>
    <p>If you have any questions or need assistance with our library management system, feel free to reach out to us!</p>
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Company: Repl Solutions</h5>
            <p class="card-text">Location: Nepal</p>
            <p class="card-text">Contact Number: 9812345678</p>
            <a href="mailto:info@replsolutions.com" class="btn btn-secondary">Email Us</a>
        </div>
    </div>
</div>

